@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hero Engine</h1>

<div>
    We have @Model.HeroCount heroes. wow!
</div>

<h3>Newest heroes</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hero in Model.LastHeroes)
        {
            <tr>
                <td>@hero.Name</td>
                <td>@hero.Level</td>
                <td>@hero.GetType().Name</td>
            </tr>
        }
    </tbody>
</table>