@page
@model HeroEngine.Pages.Heroes.CreateWarriorModel
@{
}

<h1>CREATION OF WARRIOR</h1>
<form>
	<label>Name: </label>
	<input type="text" /><br /><br />
	<label>Level: </label>
	<input type="text" name="HeroLevel" value="1" class="form-control" readonly /><br /><br />
	<label>HP: </label>
	<input type="text" name="HeroHp" value="150" class="form-control" readonly /><br /><br />
	<label>War Scream: </label>
	<label>Armour: </label>
	<input type="text" name="HeroArmour" value="45" class="form-control" readonly /><br /><br />
	<label>War Scream: </label>
	<input type="text" /><br /><br />
</form>