@page
@model HeroEngine.Pages.Heroes.CreateModel
@{
}

<a asp-page="/Heroes/CreateWarrior" class="btn btn-primary">Create Warrior</a>
<a asp-page="/Heroes/CreateMage" class="btn btn-primary">Create Mage</a>
<a asp-page="/Heroes/CreateRogue" class="btn btn-primary">Create Rogue</a>